body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

main img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 20px;
}